In [402]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn
import math

In [403]:
fda = pd.read_csv("beginner.csv")
census = pd.read_csv("census.csv")

In [404]:
fda

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Ohana Memorials Mammography Services,1515 W Yakima Ave.,NaN,NaN,Yakima,WA,98902,509574-3863,509249-5319,NaN,NaN,NaN,NaN
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,NaN,Air Post Office,AE,9604,3.90434E+11,3904343,NaN,NaN,NaN
2,35th Medical Group Misawa AB Japan,Unit 5024,NaN,NaN,APO,AP,96319-5300,8.13118E+11,8117677,NaN,NaN,NaN,NaN
3,374th MDG Unit 5225 SGCR Yokota AB APO AP 96328,Unit 5225 SGCR,374th Medical Group,NaN,APO,AP,96328,425522510,425302026,NaN,NaN,NaN,NaN
4,375th Medical Group,310 W Losey St.,NaN,NaN,Scott AFB,IL,62225-5252,618256-1494,618256-7253,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8806,Zwanger-Pesiri Radiology,160 Brentwood Road,NaN,NaN,Bay Shore,NY,11706,631444-5544,631666-9168,NaN,NaN,NaN,NaN
8807,Zwanger-Pesiri Radiology,803-F Montauk Highway,NaN,NaN,Shirley,NY,11967,631444-5544,631870-8732,NaN,NaN,NaN,NaN
8808,Zwanger-Pesiri Radiology,1729 N Ocean Ave,NaN,NaN,Medford,NY,11763,631444-5544,631870-8732,NaN,NaN,NaN,NaN
8809,Zwanger-Pesiri Radiology Group,759 Montauk Hwy.,NaN,NaN,West Islip,NY,11795,516798-42426001,631870-8732,NaN,NaN,NaN,NaN
8810,Zwanger-Pesiri Radiology Group,LLP,150 East Sunrise Hwy.,NaN,NaN,Lindenhurst,NY,11757,631444-5544,631225-9550,NaN,NaN,NaN

In [405]:
census

,SUMLEV,REGION,DIVISION,STATE,NAME,SEX,AGE,ESTBASE2010_CIV,POPEST2010_CIV,POPEST2011_CIV,POPEST2012_CIV,POPEST2013_CIV,POPEST2014_CIV,POPEST2015_CIV,POPEST2016_CIV,POPEST2017_CIV,POPEST2018_CIV,POPEST2019_CIV
0,10,0,0,0,United States,0,0,3944160,3951430,3963092,3926570,3931258,3954787,3983981,3954773,3893990,3815343,3783052
1,10,0,0,0,United States,0,1,3978090,3957730,3966225,3977549,3942698,3948891,3973133,4002903,3972711,3908830,3829599
2,10,0,0,0,United States,0,2,4096939,4090621,3970654,3978925,3991740,3958711,3966321,3991349,4020045,3987032,3922044
3,10,0,0,0,United States,0,3,4119051,4111688,4101644,3981531,3991017,4005928,3974351,3982984,4006946,4033038,3998665
4,10,0,0,0,United States,0,4,4063186,4077346,4121488,4111490,3992502,4004032,4020292,3989750,3997280,4018719,4043323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13567,40,4,8,56,Wyoming,2,82,1103,1103,1107,1084,1106,1105,1037,1091,1126,1110,1166
13568,40,4,8,56,Wyoming,2,83,911,936,1028,1035,1002,1030,1031,954,1024,1047,1036
13569,40,4,8,56,Wyoming,2,84,894,883,880,1011,988,945,973,974,916,984,1006
13570,40,4,8,56,Wyoming,2,85,5624,5646,5731,5849,6042,6250,6371,6543,6741,6801,6863
13571,40,4,8,56,Wyoming,2,999,275794,276212,277554,281563,284372,284645,285849,285299,283137,282798,283502

In [406]:
#Creating a new dataframe to edit / clean

clean_fda = fda
clean_fda

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Ohana Memorials Mammography Services,1515 W Yakima Ave.,NaN,NaN,Yakima,WA,98902,509574-3863,509249-5319,NaN,NaN,NaN,NaN
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,NaN,Air Post Office,AE,9604,3.90434E+11,3904343,NaN,NaN,NaN
2,35th Medical Group Misawa AB Japan,Unit 5024,NaN,NaN,APO,AP,96319-5300,8.13118E+11,8117677,NaN,NaN,NaN,NaN
3,374th MDG Unit 5225 SGCR Yokota AB APO AP 96328,Unit 5225 SGCR,374th Medical Group,NaN,APO,AP,96328,425522510,425302026,NaN,NaN,NaN,NaN
4,375th Medical Group,310 W Losey St.,NaN,NaN,Scott AFB,IL,62225-5252,618256-1494,618256-7253,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8806,Zwanger-Pesiri Radiology,160 Brentwood Road,NaN,NaN,Bay Shore,NY,11706,631444-5544,631666-9168,NaN,NaN,NaN,NaN
8807,Zwanger-Pesiri Radiology,803-F Montauk Highway,NaN,NaN,Shirley,NY,11967,631444-5544,631870-8732,NaN,NaN,NaN,NaN
8808,Zwanger-Pesiri Radiology,1729 N Ocean Ave,NaN,NaN,Medford,NY,11763,631444-5544,631870-8732,NaN,NaN,NaN,NaN
8809,Zwanger-Pesiri Radiology Group,759 Montauk Hwy.,NaN,NaN,West Islip,NY,11795,516798-42426001,631870-8732,NaN,NaN,NaN,NaN
8810,Zwanger-Pesiri Radiology Group,LLP,150 East Sunrise Hwy.,NaN,NaN,Lindenhurst,NY,11757,631444-5544,631225-9550,NaN,NaN,NaN

In [407]:
#Finding na values
clean_fda.isna().sum()

Facility Name       0
Address 1           1
Address 2        5469
Address 3        8159
City             1813
State             168
Zip Code           14
Phone               1
Fax                11
Unnamed: 9       6924
Unnamed: 10      8636
Unnamed: 11      8797
Unnamed: 12      8810
dtype: int64

# Trial and Error

In this section, we began to try to fill in NA values and noticed some of the values seemed like they were shifted, we tried to manually shift columns that swapped places with eachother

In [408]:
#Filling all na values with string 'NA' so we can filter through them
offset_fda = clean_fda.fillna('NA')
#Since all states are 2 letter abbreviations, we filtered for values in the states columns that did not follow this
offset_fda = offset_fda[(test_fda['State'] == 'NA') | (offset_fda['State'].apply(lambda x: len(str(x)) > 2))]
offset_fda

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,NA,Air Post Office,AE,9604,3.90434E+11,3904343,NA,NA,NA
5,3D Mammography of Southwest Montana,Inc.,800 W. Platinum,Unit D,NA,Butte,MT,59701,406299-3302,406299-3304,NA,NA,NA
8,56th Medical Group/SGSS,Luke AFB,7219 N. Litchfield Road,Luke Air Force Base,NA,Luke AFB,AZ,85309-1525,623856-7618,623856-4009,NA,NA,NA
11,A Womans Place Naples,LLC,1660 Medical Blvd,Suite 100,NA,Naples,FL,34110,239513-0053,239596-0900,NA,NA,NA
15,Abbott Northwestern Hospital Piper Breast Center,800 E. 28th Street,Piper Bldg.,Suite 402,NA,Minneapolis,MN,55407-3799,612863-1248,612863-3286,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,XRAY Associates at Santa Fe,490 A West Zia Rd.,Ste 110,NA,NA,Santa Fe,NM,87505,505983-9139,505983-9645,NA,NA,NA
8775,XXI Century Radiology and Imaging P.C.,8686 Bay Pky.,Unit M3,NA,NA,Brooklyn,NY,11214,718333-0022,718333-0054,NA,NA,NA
8787,Yukon-Kuskokwim Delta Regional Hospital,700 Chief Eddie Hoffman Hwy,Ste 3000,Diagnostic Imaging Department,NA,Bethel,AK,99559,907543-6238,907543-6314,NA,NA,NA
8796,Zwanger Pesiri Radiology,285 Sills Road,Bld 15 Suite A,B,C,NA,NA,East Patchogue,NY,11772,631225-7200,631870-8732,NA
8810,Zwanger-Pesiri Radiology Group,LLP,150 East Sunrise Hwy.,NA,NA,Lindenhurst,NY,11757,631444-5544,631225-9550,NA,NA,NA

In [409]:
offset_fda['City'] = offset_fda['State']
offset_fda['State'] = offset_fda['Zip Code']
offset_fda['Zip Code'] = offset_fda['Phone']
offset_fda.drop(columns = ['Phone'], inplace = True)
offset_fda

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,Air Post Office,AE,9604,3.90434E+11,3904343,NA,NA,NA
5,3D Mammography of Southwest Montana,Inc.,800 W. Platinum,Unit D,Butte,MT,59701,406299-3302,406299-3304,NA,NA,NA
8,56th Medical Group/SGSS,Luke AFB,7219 N. Litchfield Road,Luke Air Force Base,Luke AFB,AZ,85309-1525,623856-7618,623856-4009,NA,NA,NA
11,A Womans Place Naples,LLC,1660 Medical Blvd,Suite 100,Naples,FL,34110,239513-0053,239596-0900,NA,NA,NA
15,Abbott Northwestern Hospital Piper Breast Center,800 E. 28th Street,Piper Bldg.,Suite 402,Minneapolis,MN,55407-3799,612863-1248,612863-3286,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...
8773,XRAY Associates at Santa Fe,490 A West Zia Rd.,Ste 110,NA,Santa Fe,NM,87505,505983-9139,505983-9645,NA,NA,NA
8775,XXI Century Radiology and Imaging P.C.,8686 Bay Pky.,Unit M3,NA,Brooklyn,NY,11214,718333-0022,718333-0054,NA,NA,NA
8787,Yukon-Kuskokwim Delta Regional Hospital,700 Chief Eddie Hoffman Hwy,Ste 3000,Diagnostic Imaging Department,Bethel,AK,99559,907543-6238,907543-6314,NA,NA,NA
8796,Zwanger Pesiri Radiology,285 Sills Road,Bld 15 Suite A,B,NA,NA,East Patchogue,NY,11772,631225-7200,631870-8732,NA
8810,Zwanger-Pesiri Radiology Group,LLP,150 East Sunrise Hwy.,NA,Lindenhurst,NY,11757,631444-5544,631225-9550,NA,NA,NA

In [410]:
offset_fda_nan = offset_fda[offset_fda['State'] == 'NA']
offset_fda_nan

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
337,Andrew A. Roth,M.D.,S.C. dba YORKTOWN HEALTH,500 East 22nd Street,NA,NA,Lombard,IL,60148,630932-2055,630932-2059,NA
1657,Clement M. Barone,M.D.,P.C.,1440 York Ave,NA,NA,New York,NY,10075,212988-1303,212628-9113,NA
1846,Consolidated Radiology Complex,CSP,202 Gautier Benitez Ave. Office 105,205,Consolidated Medical Plaz,NA,Caguas,PR,725,787746-8383,787746-5466,NA
2192,Drs. Schwartzenburg,Lafranca,Guidry & Chapman,500 Rue de la Vie,NA,NA,Baton Rouge,LA,70817,225214-4717,225928-5535,NA
3198,Ide Imaging Partners,Inc.,dba/Borg & Ide Imaging,PC,Bldg E Ste 100,NA,Rochester,NY,14618,585241-64001724,585241-6630,NA
3199,Ide Imaging Partners,Inc.,dba/Borg & Ide Imaging,PC,NA,NA,Rochester,NY,14606,585241-6400,585241-6815,NA
3979,Loftus,Ryu,and Bartol MDs PC,475 Irving Ave,NA,NA,Syracuse,NY,13210,315671-0070118,315475-0620,NA
5871,Price,Hoffman,Stone and Associates,M.D.'s,747 Sixth Ave. S,NA,NA,St. Petersburg,FL,33701,727898-3647,727823-3080
6276,Robert L. Bard,M.D.,P.C.,121 East 60th St,NA,NA,New York,NY,10022,212355-7017,212752-6192,NA
6554,Sekine,Rasner,and Brock MD,PA - OB/GYN,NA,NA,Jacksonville,FL,32223,904262-5333319,904262-5337,NA
6599,Seven Hills OB-GYN Associates,LLC,DBA Cinci Breast Surgeons,4030 Smith Road,NA,NA,Norwood,OH,45209,888233-6121,520572-7138,NA
7612,The Longstreet Clinic,P.C.,The Longstreet Clinic,P.C.,Ste. 295,NA,Gainesville,GA,30501,770539-9391,770718-1281,NA
8059,University of California,Irvine,101 The City Dr.,Bldg 30,NA,NA,Orange,CA,92868,714456-6175,714456-6908,NA
8796,Zwanger Pesiri Radiology,285 Sills Road,Bld 15 Suite A,B,NA,NA,East Patchogue,NY,11772,631225-7200,631870-8732,NA

In [411]:
offset_fda_nan['State'] = offset_fda_nan['Fax']
offset_fda_nan['City'] = offset_fda_nan['Zip Code']
offset_fda_nan

/var/folders/8q/rjmd941n23l2prx2gffgpgmw0000gn/T/ipykernel_21511/2328744878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offset_fda_nan['State'] = offset_fda_nan['Fax']
/var/folders/8q/rjmd941n23l2prx2gffgpgmw0000gn/T/ipykernel_21511/2328744878.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offset_fda_nan['City'] = offset_fda_nan['Zip Code']

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
337,Andrew A. Roth,M.D.,S.C. dba YORKTOWN HEALTH,500 East 22nd Street,Lombard,IL,Lombard,IL,60148,630932-2055,630932-2059,NA
1657,Clement M. Barone,M.D.,P.C.,1440 York Ave,New York,NY,New York,NY,10075,212988-1303,212628-9113,NA
1846,Consolidated Radiology Complex,CSP,202 Gautier Benitez Ave. Office 105,205,Caguas,PR,Caguas,PR,725,787746-8383,787746-5466,NA
2192,Drs. Schwartzenburg,Lafranca,Guidry & Chapman,500 Rue de la Vie,Baton Rouge,LA,Baton Rouge,LA,70817,225214-4717,225928-5535,NA
3198,Ide Imaging Partners,Inc.,dba/Borg & Ide Imaging,PC,Rochester,NY,Rochester,NY,14618,585241-64001724,585241-6630,NA
3199,Ide Imaging Partners,Inc.,dba/Borg & Ide Imaging,PC,Rochester,NY,Rochester,NY,14606,585241-6400,585241-6815,NA
3979,Loftus,Ryu,and Bartol MDs PC,475 Irving Ave,Syracuse,NY,Syracuse,NY,13210,315671-0070118,315475-0620,NA
5871,Price,Hoffman,Stone and Associates,M.D.'s,NA,St. Petersburg,NA,St. Petersburg,FL,33701,727898-3647,727823-3080
6276,Robert L. Bard,M.D.,P.C.,121 East 60th St,New York,NY,New York,NY,10022,212355-7017,212752-6192,NA
6554,Sekine,Rasner,and Brock MD,PA - OB/GYN,Jacksonville,FL,Jacksonville,FL,32223,904262-5333319,904262-5337,NA
6599,Seven Hills OB-GYN Associates,LLC,DBA Cinci Breast Surgeons,4030 Smith Road,Norwood,OH,Norwood,OH,45209,888233-6121,520572-7138,NA
7612,The Longstreet Clinic,P.C.,The Longstreet Clinic,P.C.,Gainesville,GA,Gainesville,GA,30501,770539-9391,770718-1281,NA
8059,University of California,Irvine,101 The City Dr.,Bldg 30,Orange,CA,Orange,CA,92868,714456-6175,714456-6908,NA
8796,Zwanger Pesiri Radiology,285 Sills Road,Bld 15 Suite A,B,East Patchogue,NY,East Patchogue,NY,11772,631225-7200,631870-8732,NA

# Getting a Better Grasp

Previously, we had not realized the scope of the misalligned data. We tried to manually realign it to no avail. We realized that the data in the 'Unnamed 12' column was shifted 4 places over, the data on the 'Unnamed 11' column was shifted 3 places over, and so on. To fix this issue all at once, e decided to move onto different cleaning methods that would be able to shift the data according to the values of the unnamed columns.

In [413]:
#We created a dictionary that maps each column name to its number

shifted_fda = fda.fillna('NA')

shifted_fda.columns

cols_map = {0 :'Facility Name', 1: 'Address 1', 2: 'Address 2', 3: 'Address 3', 4: 'City', 5: 'State',
       6: 'Zip Code', 7: 'Phone', 8: 'Fax', 9: 'Unnamed: 9', 10: 'Unnamed: 10', 11: 'Unnamed: 11',
       12: 'Unnamed: 12'}

In [414]:
#We split up our dataframe into two. 
#One of them is misaligned data, which is any row that does not have 'NA' in the 'Unnamed 9' column.
#The other is a set of properly aligned

fda_good = shifted_fda[shifted_fda['Unnamed: 9'] == 'NA']
fda_good

shifted_fda = shifted_fda[shifted_fda['Unnamed: 9'] != 'NA']
shifted_fda

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,NA,Air Post Office,AE,9604,3.90434E+11,3904343,NA,NA,NA
5,3D Mammography of Southwest Montana,Inc.,800 W. Platinum,Unit D,NA,Butte,MT,59701,406299-3302,406299-3304,NA,NA,NA
8,56th Medical Group/SGSS,Luke AFB,7219 N. Litchfield Road,Luke Air Force Base,NA,Luke AFB,AZ,85309-1525,623856-7618,623856-4009,NA,NA,NA
11,A Womans Place Naples,LLC,1660 Medical Blvd,Suite 100,NA,Naples,FL,34110,239513-0053,239596-0900,NA,NA,NA
15,Abbott Northwestern Hospital Piper Breast Center,800 E. 28th Street,Piper Bldg.,Suite 402,NA,Minneapolis,MN,55407-3799,612863-1248,612863-3286,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,XRAY Associates at Santa Fe,490 A West Zia Rd.,Ste 110,NA,NA,Santa Fe,NM,87505,505983-9139,505983-9645,NA,NA,NA
8775,XXI Century Radiology and Imaging P.C.,8686 Bay Pky.,Unit M3,NA,NA,Brooklyn,NY,11214,718333-0022,718333-0054,NA,NA,NA
8787,Yukon-Kuskokwim Delta Regional Hospital,700 Chief Eddie Hoffman Hwy,Ste 3000,Diagnostic Imaging Department,NA,Bethel,AK,99559,907543-6238,907543-6314,NA,NA,NA
8796,Zwanger Pesiri Radiology,285 Sills Road,Bld 15 Suite A,B,C,NA,NA,East Patchogue,NY,11772,631225-7200,631870-8732,NA
8810,Zwanger-Pesiri Radiology Group,LLP,150 East Sunrise Hwy.,NA,NA,Lindenhurst,NY,11757,631444-5544,631225-9550,NA,NA,NA

In [415]:
#We also realized that the 'City' column is where the misalignment begins. Any data left of City is properly
#aligned, and any data right is misaligned.

shifted_fda_left = shifted_fda[['Facility Name','Address 1','Address 2','Address 3']]
shifted_fda_right = shifted_fda.drop(columns = ['Facility Name','Address 1','Address 2','Address 3'])

In [416]:
#We split up our misaligned dataframe further, and used our dictionary to shift the columns the proper amount

shifted_fda_right_12 = shifted_fda_right[shifted_fda_right['Unnamed: 12'] != 'NA'].shift(periods = -4, axis = 1)
shifted_fda_right = shifted_fda_right[shifted_fda_right['Unnamed: 12'] == 'NA']

shifted_fda_right_11 = shifted_fda_right[shifted_fda_right['Unnamed: 11'] != 'NA'].shift(periods = -3, axis = 1)
shifted_fda_right = shifted_fda_right[shifted_fda_right['Unnamed: 11'] == 'NA']

shifted_fda_right_10 = shifted_fda_right[shifted_fda_right['Unnamed: 10'] != 'NA'].shift(periods = -2, axis = 1)
shifted_fda_right = shifted_fda_right[shifted_fda_right['Unnamed: 10'] == 'NA']

shifted_fda_right_9 = shifted_fda_right[shifted_fda_right['Unnamed: 9'] != 'NA'].shift(periods = -1, axis = 1)

In [417]:
#We combined all of our right shifted data back into one dataframe
shifted_fda_right = pd.concat([shifted_fda_right_9, shifted_fda_right_10, shifted_fda_right_11, shifted_fda_right_12])
shifted_fda_right

,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,Air Post Office,AE,9604,3.90434E+11,3904343,NA,NA,NA,NaN
5,Butte,MT,59701,406299-3302,406299-3304,NA,NA,NA,NaN
8,Luke AFB,AZ,85309-1525,623856-7618,623856-4009,NA,NA,NA,NaN
11,Naples,FL,34110,239513-0053,239596-0900,NA,NA,NA,NaN
15,Minneapolis,MN,55407-3799,612863-1248,612863-3286,NA,NA,NA,NaN
...,...,...,...,...,...,...,...,...,...
6599,Norwood,OH,45209,888233-6121,520572-7138,NA,NaN,NaN,NaN
7612,Gainesville,GA,30501,770539-9391,770718-1281,NA,NaN,NaN,NaN
8059,Orange,CA,92868,714456-6175,714456-6908,NA,NaN,NaN,NaN
8796,East Patchogue,NY,11772,631225-7200,631870-8732,NA,NaN,NaN,NaN
5871,St. Petersburg,FL,33701,727898-3647,727823-3080,NaN,NaN,NaN,NaN

In [418]:
#We combined the right and left sides of the dataframes back together
shifted_fda = pd.concat([shifted_fda_left,shifted_fda_right], axis =1)

shifted_fda

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,Air Post Office,AE,9604,3.90434E+11,3904343,NA,NA,NA,NaN
5,3D Mammography of Southwest Montana,Inc.,800 W. Platinum,Unit D,Butte,MT,59701,406299-3302,406299-3304,NA,NA,NA,NaN
8,56th Medical Group/SGSS,Luke AFB,7219 N. Litchfield Road,Luke Air Force Base,Luke AFB,AZ,85309-1525,623856-7618,623856-4009,NA,NA,NA,NaN
11,A Womans Place Naples,LLC,1660 Medical Blvd,Suite 100,Naples,FL,34110,239513-0053,239596-0900,NA,NA,NA,NaN
15,Abbott Northwestern Hospital Piper Breast Center,800 E. 28th Street,Piper Bldg.,Suite 402,Minneapolis,MN,55407-3799,612863-1248,612863-3286,NA,NA,NA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,XRAY Associates at Santa Fe,490 A West Zia Rd.,Ste 110,NA,Santa Fe,NM,87505,505983-9139,505983-9645,NA,NA,NA,NaN
8775,XXI Century Radiology and Imaging P.C.,8686 Bay Pky.,Unit M3,NA,Brooklyn,NY,11214,718333-0022,718333-0054,NA,NA,NA,NaN
8787,Yukon-Kuskokwim Delta Regional Hospital,700 Chief Eddie Hoffman Hwy,Ste 3000,Diagnostic Imaging Department,Bethel,AK,99559,907543-6238,907543-6314,NA,NA,NA,NaN
8796,Zwanger Pesiri Radiology,285 Sills Road,Bld 15 Suite A,B,East Patchogue,NY,11772,631225-7200,631870-8732,NA,NaN,NaN,NaN
8810,Zwanger-Pesiri Radiology Group,LLP,150 East Sunrise Hwy.,NA,Lindenhurst,NY,11757,631444-5544,631225-9550,NA,NA,NA,NaN

In [419]:
fda_good

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Ohana Memorials Mammography Services,1515 W Yakima Ave.,NA,NA,Yakima,WA,98902,509574-3863,509249-5319,NA,NA,NA,NA
2,35th Medical Group Misawa AB Japan,Unit 5024,NA,NA,APO,AP,96319-5300,8.13118E+11,8117677,NA,NA,NA,NA
3,374th MDG Unit 5225 SGCR Yokota AB APO AP 96328,Unit 5225 SGCR,374th Medical Group,NA,APO,AP,96328,425522510,425302026,NA,NA,NA,NA
4,375th Medical Group,310 W Losey St.,NA,NA,Scott AFB,IL,62225-5252,618256-1494,618256-7253,NA,NA,NA,NA
6,3T Imaging of Morton Grove,9000 Waukengan Rd Ste 110,NA,NA,Morton Grove,IL,60053,847213-2700,847213-2709,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8805,Zwanger-Pesiri Radiology,987 W. Jericho Turnpike,NA,NA,Smithtown,NY,11787,631265-5777,631870-8732,NA,NA,NA,NA
8806,Zwanger-Pesiri Radiology,160 Brentwood Road,NA,NA,Bay Shore,NY,11706,631444-5544,631666-9168,NA,NA,NA,NA
8807,Zwanger-Pesiri Radiology,803-F Montauk Highway,NA,NA,Shirley,NY,11967,631444-5544,631870-8732,NA,NA,NA,NA
8808,Zwanger-Pesiri Radiology,1729 N Ocean Ave,NA,NA,Medford,NY,11763,631444-5544,631870-8732,NA,NA,NA,NA
8809,Zwanger-Pesiri Radiology Group,759 Montauk Hwy.,NA,NA,West Islip,NY,11795,516798-42426001,631870-8732,NA,NA,NA,NA

In [420]:
#Finally, we merged our orinally properly aligned data, with the data we fixed
final_fda = pd.concat([shifted_fda, fda_good])
final_fda.sort_values('State', inplace = True)
final_fda

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,Air Post Office,AE,9604,3.90434E+11,3904343,NA,NA,NA,NaN
3804,Landstuhl Regional Medical Center,CMR 402,MCEUL-R,NA,APO,AE,09180-3460,6.37195E+11,4963718,NA,NA,NA,NA
7,48th Medical Group 48 MSGS/SGCR,Unit 5115,48 MSGS/SGCR,NA,APO,AE,09461-5115,4.41639E+11,4416385,NA,NA,NA,NA
7874,U.S. Naval Hospital - Naples,Italy,PSC 808 BOX 19,NA,FPO,AE,9618,3.90818E+11,3908181,NA,NA,NA,NaN
7875,U.S. Naval Hospital - Sigonella [Italy],PSC 836 Box 2670,NA,NA,FPO,AE,09636-2670,39095564701,3909556,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7147,St. John's Medical Health,625 East Broadway,NA,NA,Jackson,WY,83001,307739-7531,307739-7674,NA,NA,NA,NA
3137,Hot Springs Health,150 E Arapahoe,NA,NA,Thermopolis,WY,82443,307864-5047,307864-5028,NA,NA,NA,NA
3482,Johnson County Healthcare Center,497 West Lott,NA,NA,Buffalo,WY,82834,307684-6179,307684-0906,NA,NA,NA,NA
4408,Memorial Hospital of Sweetwater County,1200 College Drive,NA,NA,Rock Springs,WY,82901,307352-8386,307352-8151,NA,NA,NA,NA
3833,Lawrence Memorial Health Foundation,Inc,1309 West Main Street,P.O. Box 839,NA,Walnut Ridge,AR,72476,870886-4898,NA,NA,NA,NA

In [421]:
#Testing to ensure all state values are correct
test = final_fda[final_fda['State'].apply(lambda x: len(str(x)) > 2)]

final_fda = final_fda[final_fda['State'].apply(lambda x: len(str(x)) == 2)]

final_fda

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,Air Post Office,AE,9604,3.90434E+11,3904343,NA,NA,NA,NaN
3804,Landstuhl Regional Medical Center,CMR 402,MCEUL-R,NA,APO,AE,09180-3460,6.37195E+11,4963718,NA,NA,NA,NA
7,48th Medical Group 48 MSGS/SGCR,Unit 5115,48 MSGS/SGCR,NA,APO,AE,09461-5115,4.41639E+11,4416385,NA,NA,NA,NA
7874,U.S. Naval Hospital - Naples,Italy,PSC 808 BOX 19,NA,FPO,AE,9618,3.90818E+11,3908181,NA,NA,NA,NaN
7875,U.S. Naval Hospital - Sigonella [Italy],PSC 836 Box 2670,NA,NA,FPO,AE,09636-2670,39095564701,3909556,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3803,Lander Medical Clinic,745 Buena Vista Drive,NA,NA,Lander,WY,82520,307332-29415,307332-1920,NA,NA,NA,NA
7147,St. John's Medical Health,625 East Broadway,NA,NA,Jackson,WY,83001,307739-7531,307739-7674,NA,NA,NA,NA
3137,Hot Springs Health,150 E Arapahoe,NA,NA,Thermopolis,WY,82443,307864-5047,307864-5028,NA,NA,NA,NA
3482,Johnson County Healthcare Center,497 West Lott,NA,NA,Buffalo,WY,82834,307684-6179,307684-0906,NA,NA,NA,NA
4408,Memorial Hospital of Sweetwater County,1200 College Drive,NA,NA,Rock Springs,WY,82901,307352-8386,307352-8151,NA,NA,NA,NA

In [422]:
#a few final rows did not follow any misallignment pattern and we had to manually align them

test['City'] = test['State']
test['State'] = test['Zip Code']
test['Zip Code'] = test['Phone']

final_fda = pd.concat([final_fda, test])
final_fda.sort_values(by = 'State', inplace = True)
final_fda

/var/folders/8q/rjmd941n23l2prx2gffgpgmw0000gn/T/ipykernel_21511/2279448985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['City'] = test['State']
/var/folders/8q/rjmd941n23l2prx2gffgpgmw0000gn/T/ipykernel_21511/2279448985.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['State'] = test['Zip Code']
/var/folders/8q/rjmd941n23l2prx2gffgpgmw0000gn/T/ipykernel_21511/2279448985.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Zip Code'] = test['Phone']

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,Air Post Office,AE,9604,3.90434E+11,3904343,NA,NA,NA,NaN
3804,Landstuhl Regional Medical Center,CMR 402,MCEUL-R,NA,APO,AE,09180-3460,6.37195E+11,4963718,NA,NA,NA,NA
7,48th Medical Group 48 MSGS/SGCR,Unit 5115,48 MSGS/SGCR,NA,APO,AE,09461-5115,4.41639E+11,4416385,NA,NA,NA,NA
7874,U.S. Naval Hospital - Naples,Italy,PSC 808 BOX 19,NA,FPO,AE,9618,3.90818E+11,3908181,NA,NA,NA,NaN
7875,U.S. Naval Hospital - Sigonella [Italy],PSC 836 Box 2670,NA,NA,FPO,AE,09636-2670,39095564701,3909556,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,Memorial Hospital of Carbon County,2221 W Elm St,NA,NA,Rawlins,WY,82301,307324-8381,307324-8382,NA,NA,NA,NA
4405,Memorial Hospital of Converse County,111 South 5th Street,NA,NA,Douglas,WY,82633,307358-1438,307358-1489,NA,NA,NA,NA
1266,Campbell County Memorial Hospital,501 S. Burma Ave,NA,NA,Gillette,WY,82716,307688-1600,307688-1640,NA,NA,NA,NA
1541,Cheyenne Rad Grp dba Cheyenne Women's Imaging ...,5050 Powderhouse Road,NA,NA,Cheyenne,WY,82009,307996-9150,307829-7837,NA,NA,NA,NA
5539,Outpatient Radiology LLC,419 S. Washington St. Suite 101,NA,NA,Casper,WY,82601,307232-5012,307237-1074,NA,NA,NA,NA

In [426]:
#Once we fixed the last few errors, we exported our cleaned data into a new csv file

#final_fda.to_csv('clean_fda.csv', index = True)